<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.dwolt.imagecrop"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.soundcloud.android.crop.CropImageActivity">
            <intent-filter>
                <action android:name="de.dwolt.imagecrop.action.CROP"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content" android:mimeType="image/*" />
                <data android:scheme="file" android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
